.top {
  position: relative;
  height: calc(100vh - 150px);
  margin: 20px 30px 0;
}

.bg {
  position: absolute;
  right: 0;
  width: 100%;
  height: calc(100% - 50px);
  border-radius: 20px;
  overflow: hidden;
}
.bg-pic {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-size: cover;
  -moz-transform: scale(1.1) perspective(500px) translateZ(0px);
  -ms-transform: scale(1.1) perspective(500px) translateZ(0px);
  -webkit-transform: scale(1.1) perspective(500px) translateZ(0px);
  transform: scale(1.1) perspective(500px) translateZ(0px);
  -moz-transition: -moz-transform 0s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -o-transition: -o-transform 0s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -webkit-transition: -webkit-transform 0s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: transform 0s cubic-bezier(0.25, 0.25, 0.75, 0.75);
}
.bg-pic:nth-child(1) {
  background-position: 49%;
}
.bg-pic:nth-child(2) {
  background-position: 18%;
}
.bg-pic:nth-child(3) {
  background-position: 52%;
}
.bg-pic.move-img {
  -moz-transform: scale(1.1) perspective(500px) translateZ(-50px);
  -ms-transform: scale(1.1) perspective(500px) translateZ(-50px);
  -webkit-transform: scale(1.1) perspective(500px) translateZ(-50px);
  transform: scale(1.1) perspective(500px) translateZ(-50px);
  -moz-transition-duration: 5s;
  -o-transition-duration: 5s;
  -webkit-transition-duration: 5s;
  transition-duration: 5s;
}

.about{
  position: absolute;
  top: 20px;
  left: 20px;
  width: 300px;
  height: 180px;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  z-index: 2;
}
.about:after{
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background-color: rgba(256, 256, 256, 0.7);
  border-radius: 20px;
  filter: blur(0.5px);
  z-index: 0;
}
.about-text{
  position: relative;
  z-index: 2;
}

.top-text {
  width: 40%;
  position: absolute;
  right: -1px;
  bottom: 49px;
  z-index: 5;
}
.top-text img {
  width: 100%;
}

.tt02{
  display: none;
}

/*
.top-slogn {
  width: 250px;
  position: absolute;
  left: 10%;
  bottom: 30%;
  z-index: 5;
}
.top-slogn img {
  width: 100%;
}
*/

.wel1 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -moz-animation: welout 5.2s cubic-bezier(0.81, 0.15, 0.26, 0.99);
  -webkit-animation: welout 5.2s cubic-bezier(0.81, 0.15, 0.26, 0.99);
  animation: welout 5.2s cubic-bezier(0.81, 0.15, 0.26, 0.99);
}

@-moz-keyframes welout {
  0% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes welout {
  0% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes welout {
  0% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.wel2 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  -moz-animation: welin 5.5s cubic-bezier(0.81, 0.15, 0.26, 0.99);
  -webkit-animation: welin 5.5s cubic-bezier(0.81, 0.15, 0.26, 0.99);
  animation: welin 5.5s cubic-bezier(0.81, 0.15, 0.26, 0.99);
}

@-moz-keyframes welin {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes welin {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes welin {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* right */
.right {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 4;
  width: 80px;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background: #fafafa;
  border-left: 1px solid #eee;
}

.dot {
  position: fixed;
  right: 23px;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 5;
}
.dot li {
  position: relative;
  cursor: pointer;
  width: 6px;
  height: 6px;
  border-radius: 10px;
  background: #aaaaaa;
  -moz-transition: height 0.3s ease-in;
  -o-transition: height 0.3s ease-in;
  -webkit-transition: height 0.3s ease-in;
  transition: height 0.3s ease-in;
  margin: 50px 15px;
}
.dot li:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background-color: #b3bafe;
  opacity: 0.3;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: -1;
}
.dot li:hover:after {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.dot li:hover .dot-text {
  opacity: 1;
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.dot li.show {
  height: 15px;
  border-radius: 10px;
  background: #647bff;
}
.dot li.show:after {
  background-color: #cab7e8;
}
.dot-text {
  color: #666;
  font-weight: 600;
  font-size: 14px;
  line-height: 2em;
  position: absolute;
  right: 35px;
  top: 50%;
  background-color: rgba(250, 250, 250, 0.9);
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 0 8px;
  opacity: 0;
  -moz-transform: translate(-10px, -50%);
  -ms-transform: translate(-10px, -50%);
  -webkit-transform: translate(-10px, -50%);
  transform: translate(-10px, -50%);
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  -o-transition: -o-transform 0.3s, opacity 0.3s;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}


.skill{
  position: relative;
  padding: 20px 10px 0;
}
.skill_box{
  display: flex;
  flex-wrap: wrap;
}
.skill_work{
  border-radius: 20px;
  box-sizing: border-box;
  padding-bottom: 20%;
  margin: 0 0 20px 20px;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.skill_work:nth-child(1){
  width: calc(60% - 80px);
  background-color: #647bff;
}
.skill_work:nth-child(2){
  width: 20%;
  background-color: #dcdcdc;
}
.skill_work:nth-child(3){
  width: 20%;
  background-color: #b3bafe;
}
.skill_work:nth-child(4){
  width: 20%;
  background-color: #b3bafe;
}
.skill_work:nth-child(5){
  width: calc(60% - 80px);
  background-color: #647bff;
}
.skill_work:nth-child(6){
  width: 20%;
  background-color: #dcdcdc;
}

.work {
  padding: 100px 0 80px;
}
.work .title {
  text-align: center;
}
.work-box {
  display: flex;
  flex-wrap: wrap;
  max-width: 90%;
  margin: auto;
  padding-top: 30px;
}
.work-list {
  cursor: pointer;
  width: 40%;
  padding-bottom: 20px;
  margin: 0 auto;
}
.work-list:hover .work-name .wname1:after {
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  opacity: 1;
}
.work-list:hover .work-pic img {
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.work-list:hover .work-link {
  background: #647bff; 
  background: -moz-linear-gradient(to right, #647bff, #dfd4f2);
  background: -webkit-linear-gradient(to right, #647bff, #dfd4f2); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #647bff, #dfd4f2);
}
.work-pic {
  position: relative;
  border-radius: 20px;
  margin: auto;
  overflow: hidden;
}

.work-pic img {
  width: 100%;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  -moz-transition: -moz-transform 0.3s ease-in;
  -o-transition: -o-transform 0.3s ease-in;
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
}
.work-concept {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  margin: 0 10px;
}

.work-name {
  color: #000000;
  line-height: 2.2em;
}

.work-link {
  background-color: #cccccc;
  border-radius: 50%;
  padding: 5px;
  margin-top: -10px;
}

.work-link img {
  width: 40px;
  height: 40px;
}

.work-name .wname1,
.work-name .wname2 {
  display: block;
}

.work-name .wname1 {
  position: relative;
  font-size: 24px;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.work-name .wname2 {
  font-size: 18px;
  color: #647bff;
}
.work-name .wname1:after {
  content: "";
  position: absolute;
  top: -5px;
  left: -10px;
  height: 30px;
  width: 100%;
  border-radius: 20px;
  opacity: 0; 
  /*background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U4ZTdmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y3ZTdmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #e8e7ff), color-stop(100%, #f7e7ff));
  background: -moz-linear-gradient(left, #e8e7ff, #f7e7ff);
  background: -webkit-linear-gradient(left, #e8e7ff, #f7e7ff);
  background: linear-gradient(to right, #e8e7ff, #f7e7ff);*/
  
  padding: 0 10px;
  -moz-transform: scaleX(0.3);
  -ms-transform: scaleX(0.3);
  -webkit-transform: scaleX(0.3);
  transform: scaleX(0.3);
  -moz-transition: opacity 0.2s, -moz-transform 0.3s ease-in-out;
  -o-transition: opacity 0.2s, -o-transform 0.3s ease-in-out;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.2s, transform 0.3s ease-in-out;
  z-index: -1;
}
.work-in {
  position: absolute;
  top: 25px;
  left: 25px;
  font-size: 20px;
  color: #647bff;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 5px 10px;
}
.work-text {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 18px;
  color: #000000;
  background-color: #ffffff;
  border-top-left-radius: 20px;
  padding: 8px 10px 3px 15px;
}
.work-text:before,
.work-text:after {
  content: url('../images/border.png');
  position: absolute;
  width: 20px;
}
.work-text:before {
  top: -20px;
  right: 0;
}
.work-text:after {
  left: -20px;
  bottom: -9px;
}

.work-bt {
  width: 120px;
  text-align: center;
  margin-top: 20px;
}

.move1 {
  opacity: 0;
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
  -moz-transition: opacity 0.8s, -moz-transform 0.8s;
  -o-transition: opacity 0.8s, -o-transform 0.8s;
  -webkit-transition: opacity 0.8s, -webkit-transform 0.8s;
  transition: opacity 0.8s, transform 0.8s;
}
.move1.show {
  opacity: 1;
  -moz-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.move2 {
  opacity: 0;
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -moz-transition: opacity 0.8s, -moz-transform 0.8s;
  -o-transition: opacity 0.8s, -o-transform 0.8s;
  -webkit-transition: opacity 0.8s, -webkit-transform 0.8s;
  transition: opacity 0.8s, transform 0.8s;
}
.move2.show {
  opacity: 1;
  -moz-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.move3:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  -moz-transition: width 0.5s;
  -o-transition: width 0.5s;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}
.move3.show:after {
  width: 0;
}

.move4:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.move4.show:after {
  height: 0;
}

.move1, .move2, .move3, .move4 {
  -moz-transition: opacity 1s, -moz-transform 0.8s;
  -o-transition: opacity 1s, -o-transform 0.8s;
  -webkit-transition: opacity 1s, -webkit-transform 0.8s;
  transition: opacity 1s, transform 0.8s;
}
.move1.show, .move2.show, .move3.show, .move4.show {
  opacity: 1;
  -moz-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}


@media screen and (max-width: 1400px) {
  .tt01{
    display: none;
  }

  .tt02{
    display: block;
  }

  .dot {
    right: 9px;
  }

  .dot li{
    width: 5px;
    height: 5px;
    margin: 30px 15px;
  }

  .dot li.show {
    height: 12px;
  }

  .dot-text {
    font-size: 12px;
    right: 20px;
  }

  .dot li:hover:after {
    width: 25px;
    height: 25px;
  }

  .right{
    width: 50px;
  }

  .work-name{
    line-height: 1.5em;
  }

  .work-name .wname1{
    font-size: 18px;
  }

  .work-name .wname2{
    font-size: 14px;
  }
  .work-link{
    padding: 5px;
  }

  .work-link img {
    width: 30px;
    height: 30px;
  }

  .work-in {
    font-size: 16px;
    top: 15px;
    left: 15px;
  }
}



@media screen and (max-width: 1100px) {
  .top {
    height: calc(90vh - 120px);
    margin: 20px 20px 0;
  }

  .top-text{
    width: 50%;
  }

  .pg-title {
    left: 10%;
  }

  .dot {
    display: none;
  }

  .about-head {
    margin: 0 10% 30px;
  }

  .skill{
    padding: 20px 0 0;
  }

  .skill-pic {
    width: 90%;
  }
  .skill .title {
    text-align: center;
  }

  .work-box {
    max-width: 80%;
  }

  .work-in{
    font-size: 14px;
  }
}

@media screen and (max-width: 900px) {
  .work {
    padding: 50px 0 80px;
  }
  .work-box {
    display: unset;
  }
  .work-list {
    width: 70%;
    padding-top: 30px;
  }
  .work .title {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 720px) {
  .top-text{
    width: 80%;
  }

  .skill_work:nth-child(1){
    width: calc(100% - 40px);
  }

  .skill_work:nth-child(2),
  .skill_work:nth-child(3){
    width: calc(50% - 30px);
  }

  .work-list {
    width: 80%;
  }

  
}
@media screen and (max-width: 640px) {

}
@media screen and (max-width: 460px) {
  .top-text{
    width: 80%;
  }
}
