.top {
  position: relative;
  height: 100vh;
}

.bg {
  position: absolute;
  right: 0;
  width: 85%;
  height: 90%;
  overflow: hidden;
}
.bg-pic {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-size: cover;
  -moz-transform: scale(1.1) perspective(500px) translateZ(0px);
  -ms-transform: scale(1.1) perspective(500px) translateZ(0px);
  -webkit-transform: scale(1.1) perspective(500px) translateZ(0px);
  transform: scale(1.1) perspective(500px) translateZ(0px);
  -moz-transition: -moz-transform 0s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -o-transition: -o-transform 0s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -webkit-transition: -webkit-transform 0s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: transform 0s cubic-bezier(0.25, 0.25, 0.75, 0.75);
}
.bg-pic:nth-child(1) {
  background-position: 49%;
}
.bg-pic:nth-child(2) {
  background-position: 18%;
}
.bg-pic:nth-child(3) {
  background-position: 52%;
}
.bg-pic.move-img {
  -moz-transform: scale(1.1) perspective(500px) translateZ(-50px);
  -ms-transform: scale(1.1) perspective(500px) translateZ(-50px);
  -webkit-transform: scale(1.1) perspective(500px) translateZ(-50px);
  transform: scale(1.1) perspective(500px) translateZ(-50px);
  -moz-transition-duration: 5s;
  -o-transition-duration: 5s;
  -webkit-transition-duration: 5s;
  transition-duration: 5s;
}

.top-slogn {
  width: 250px;
  position: absolute;
  left: 10%;
  bottom: 30%;
  z-index: 5;
}
.top-slogn img {
  width: 100%;
}

.wel1 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -moz-animation: welout 5.2s cubic-bezier(0.81, 0.15, 0.26, 0.99);
  -webkit-animation: welout 5.2s cubic-bezier(0.81, 0.15, 0.26, 0.99);
  animation: welout 5.2s cubic-bezier(0.81, 0.15, 0.26, 0.99);
}

@-moz-keyframes welout {
  0% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes welout {
  0% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes welout {
  0% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.wel2 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  -moz-animation: welin 5.5s cubic-bezier(0.81, 0.15, 0.26, 0.99);
  -webkit-animation: welin 5.5s cubic-bezier(0.81, 0.15, 0.26, 0.99);
  animation: welin 5.5s cubic-bezier(0.81, 0.15, 0.26, 0.99);
}

@-moz-keyframes welin {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes welin {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes welin {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.dot {
  position: fixed;
  right: 20px;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 5;
}
.dot li {
  position: relative;
  cursor: pointer;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #6c7c86;
  -moz-transition: height 0.3s ease-in;
  -o-transition: height 0.3s ease-in;
  -webkit-transition: height 0.3s ease-in;
  transition: height 0.3s ease-in;
  margin: 30px 15px;
}
.dot li:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #b7d5f9;
  opacity: 0.3;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: -1;
}
.dot li:hover:after {
  width: 25px;
  height: 25px;
}
.dot li:hover .dot-text {
  opacity: 1;
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.dot li.show {
  height: 12px;
  border-radius: 30%;
  background: #a393b1;
}
.dot li.show:after {
  background-color: #cab7e8;
}
.dot-text {
  color: #666;
  font-weight: 600;
  font-size: 12px;
  line-height: 2em;
  position: absolute;
  right: 30px;
  top: 50%;
  background-color: rgba(250, 250, 250, 0.9);
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 0 8px;
  opacity: 0;
  -moz-transform: translate(-10px, -50%);
  -ms-transform: translate(-10px, -50%);
  -webkit-transform: translate(-10px, -50%);
  transform: translate(-10px, -50%);
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  -o-transition: -o-transform 0.3s, opacity 0.3s;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}

.about {
  padding: 100px 0 150px;
}
.about-head {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20% 30px;
}
.about-pic {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-pic img {
  width: 100px;
}
.about-in {
  width: 50%;
}
.about-bt {
  margin-left: 50%;
}

.skill-pic {
  position: relative;
  width: 80%;
  overflow: hidden;
}
.skill-pic img {
  width: 100%;
}
.skill-concept {
  margin: 0 20%;
  padding: 100px 0 0;
}
.skill-box {
  display: flex;
  flex-wrap: wrap;
}
.skill-list {
  width: 50%;
  text-align: center;
  box-sizing: border-box;
  padding: 0 5px 50px;
}
.skill-list img {
  height: 90px;
  margin: auto;
  margin-bottom: 20px;
}
.skill-detail {
  font-size: 12px;
}

.slogn {
  background-size: cover;
  background-position: center;
  padding: 150px 0 150px;
}
.slogn-box1 {
  display: flex;
  flex-direction: row-reverse;
}
.slogn-pic {
  position: relative;
  width: 40%;
  overflow: hidden;
}
.slogn-pic img {
  width: 100%;
}
.slogn-concept {
  width: 40%;
  margin-left: 15%;
  padding: 100px 0;
}
.slogn-in1 {
  font-size: 38px;
  position: relative;
  top: 120px;
}
.slogn-in2 {
  font-size: 38px;
  margin-left: 50px;
  position: relative;
  top: 160px;
}

.work {
  padding: 100px 0 80px;
}
.work .title {
  text-align: center;
}
.work-box {
  display: flex;
  flex-wrap: wrap;
  max-width: 60%;
  margin: auto;
  padding-top: 30px;
}
.work-list {
  cursor: pointer;
  width: 45%;
  margin: 0 auto 20px;
}
.work-list:hover .sp:after {
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.work-list:hover .work-pic img {
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.work-pic {
  position: relative;
  margin: auto;
  overflow: hidden;
}
.work-pic img {
  width: 100%;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  -moz-transition: -moz-transform 0.5s ease-in;
  -o-transition: -o-transform 0.5s ease-in;
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
}
.work-concept {
  text-align: center;
  padding: 30px 0;
  margin: 0 10px;
}
.work-name {
  text-align: center;
  color: #a59180;
  font-size: 18px;
}
.work-name .sp {
  position: relative;
}
.work-name .sp:after {
  content: "";
  position: absolute;
  left: -10px;
  bottom: 0;
  height: 10px;
  width: 100%;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U4ZTdmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y3ZTdmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #e8e7ff), color-stop(100%, #f7e7ff));
  background: -moz-linear-gradient(left, #e8e7ff, #f7e7ff);
  background: -webkit-linear-gradient(left, #e8e7ff, #f7e7ff);
  background: linear-gradient(to right, #e8e7ff, #f7e7ff);
  padding: 0 10px;
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -moz-transition: -moz-transform 0.5s ease-in-out;
  -o-transition: -o-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}
.work-in {
  font-size: 12px;
}
.work-bt {
  width: 85px;
  margin-top: 20px;
}

.move1 {
  opacity: 0;
  -moz-transform: translateY(80px);
  -ms-transform: translateY(80px);
  -webkit-transform: translateY(80px);
  transform: translateY(80px);
  -moz-transition: opacity 0.8s, -moz-transform 0.8s;
  -o-transition: opacity 0.8s, -o-transform 0.8s;
  -webkit-transition: opacity 0.8s, -webkit-transform 0.8s;
  transition: opacity 0.8s, transform 0.8s;
}
.move1.show {
  opacity: 1;
  -moz-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.move2:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  -moz-transition: width 0.8s;
  -o-transition: width 0.8s;
  -webkit-transition: width 0.8s;
  transition: width 0.8s;
}
.move2.show:after {
  width: 0;
}

.move3:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  -moz-transition: width 0.5s;
  -o-transition: width 0.5s;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}
.move3.show:after {
  width: 0;
}

.move4:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  -moz-transition: height 0.8s;
  -o-transition: height 0.8s;
  -webkit-transition: height 0.8s;
  transition: height 0.8s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.move4.show:after {
  height: 0;
}

.move1, .move2, .move3, .move4 {
  -moz-transition: opacity 1s, -moz-transform 0.8s;
  -o-transition: opacity 1s, -o-transform 0.8s;
  -webkit-transition: opacity 1s, -webkit-transform 0.8s;
  transition: opacity 1s, transform 0.8s;
}
.move1.show, .move2.show, .move3.show, .move4.show {
  opacity: 1;
  -moz-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

@media screen and (max-width: 1500px) {
  .slogn-concept {
    margin-left: 0;
  }
  .slogn-in1 {
    font-size: 34px;
    top: 70px;
  }
  .slogn-in2 {
    font-size: 34px;
    top: 90px;
  }
}
@media screen and (max-width: 1100px) {
  .pg-title {
    left: 10%;
  }

  .bg {
    width: 80%;
  }

  .dot {
    display: none;
  }

  .about-head {
    margin: 0 10% 30px;
  }

  .skill-pic {
    width: 90%;
  }
  .skill-concept {
    margin-left: 10%;
    width: 80%;
  }

  .slogn {
    padding: 80px 0 100px;
  }
  .slogn-concept {
    padding: 50px 0;
  }
  .slogn-in1 {
    font-size: 28px;
    top: 80px;
  }
  .slogn-in2 {
    font-size: 28px;
    top: 90px;
  }

  .work-box {
    max-width: 80%;
  }
}
@media screen and (max-width: 900px) {
  .skill-concept {
    width: 80%;
    margin-left: 10%;
  }

  .slogn-concept {
    width: unset;
    margin: auto;
  }
  .slogn-in1 {
    font-size: 24px;
    top: 30px;
  }
  .slogn-in2 {
    font-size: 24px;
    top: 40px;
  }
}
@media screen and (max-width: 720px) {
  .bg {
    width: 100%;
    height: 100%;
  }

  .top-slogn {
    left: 5%;
  }

  .about-head {
    display: block;
  }
  .about-pic {
    width: 100%;
    margin-bottom: 50px;
  }
  .about-pic img {
    z-index: 2;
  }
  .about-in {
    width: 80%;
    margin: auto;
  }
  .about-bt {
    width: 45px;
    margin: auto;
  }

  .skill .title {
    text-align: center;
  }

  .slogn {
    padding: 80px 0 30px;
  }
  .slogn-box1 {
    display: unset;
  }
  .slogn-pic {
    width: 70%;
    margin: auto;
  }
  .slogn-in1 {
    position: unset;
    text-align: center;
    margin-bottom: 10px;
  }
  .slogn-in2 {
    position: unset;
    text-align: center;
    margin-left: 0;
  }

  .work {
    padding: 50px 0 80px;
  }
  .work-box {
    display: unset;
  }
  .work-list {
    width: 80%;
    padding-top: 30px;
  }
  .work .title {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 640px) {
  .skill-box {
    display: block;
  }

  .skill-list {
    width: 100%;
  }
}
@media screen and (max-width: 460px) {
  .top {
    height: calc(100vh - 80px);
  }

  .top-slogn {
    left: 50%;
    bottom: 20%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .about-in {
    width: 100%;
  }

  .skill-pic {
    width: 100%;
  }

  .slogn {
    padding: 30px 0;
  }
  .slogn-pic {
    width: 90%;
  }

  .work-bt {
    width: 90px;
  }
}
