.bghoho {
  position: fixed;
  top: 60%;
  left: 50%;
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  color: #a59180;
  opacity: 0.1;
  z-index: 0;
  font-size: 140px;
}

.top {
  position: relative;
  height: 100vh;
}
.top .big-en {
  color: #000;
  font-size: 80px;
  position: absolute;
  top: 5%;
  left: 18%;
}
.top .big-en span {
  display: block;
  text-align: center;
}

.bg {
  position: absolute;
  right: 0;
  width: 80%;
  height: 90%;
  overflow: hidden;
}
.bg .pic {
  width: 100%;
  height: 120%;
  position: absolute;
  top: 0;
  background-size: cover;
  background-position: center;
}

.pg-title {
  font-size: 30px;
  position: absolute;
  bottom: 10px;
  left: 20%;
}

.level1 {
  padding: 80px 0;
}
.level1 .bt-box {
  position: absolute;
  bottom: 10px;
  left: 50%;
}
.level1 .bt-box .small-bt {
  display: inline-block;
  font-size: 18px;
  margin-right: 30px;
}
.level1 .bt-box .small-bt a {
  color: #ccc;
}
.level1 .bt-box .small-bt .on {
  color: #a59180;
}

.level2 .content {
  width: 60%;
  margin: auto;
  padding-bottom: 100px;
}
.level2 .box {
  display: flex;
}
.level2 .pic-box {
  position: relative;
  width: 50%;
  overflow: hidden;
}
.level2 .pic-box img {
  width: 100%;
  position: relative;
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
  -moz-transition: -moz-transform 0.3s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -o-transition: -o-transform 0.3s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: transform 0.3s cubic-bezier(0.25, 0.25, 0.75, 0.75);
}
.level2 .case {
  margin: auto;
  width: 200px;
  padding: 40px 0;
  text-align: center;
  position: relative;
  background: rgba(165, 145, 128, 0);
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.level2 .number {
  color: #999;
  overflow: hidden;
}
.level2 .number span {
  display: inline-block;
}
.level2 .name {
  font-size: 20px;
  margin: 10px;
  overflow: hidden;
}
.level2 .name span {
  display: inline-block;
}
.level2 .more {
  color: #999;
  overflow: hidden;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.level2 .more span {
  display: inline-block;
  font-style: italic;
  text-decoration: underline;
}
.level2 a:hover .more {
  color: #000;
}
.level2 a:hover .case {
  background: rgba(165, 145, 128, 0.2);
}
.level2 a:hover .pic-box img {
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

.level2 a:nth-child(even) .box {
  flex-direction: row-reverse;
}

.move1 {
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
}

.move1 {
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.move1.show {
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

.move2:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  -moz-transition: width 0.8s;
  -o-transition: width 0.8s;
  -webkit-transition: width 0.8s;
  transition: width 0.8s;
}
.move2.show:after {
  width: 0;
}

.move3:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  -moz-transition: width 0.5s;
  -o-transition: width 0.5s;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}
.move3.show:after {
  width: 0;
}

.move4 {
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
}

.move4 {
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.move4.show {
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

.move5 {
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
}

.move5 {
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -moz-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
.move5.show {
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

@media screen and (max-width: 1500px) {
  .level1 {
    padding: 30px 0 80px;
  }
  .level1 .bt-box {
    position: relative;
    left: 20%;
    bottom: unset;
    right: unset;
  }
  .level1 .bt-box .small-bt {
    display: block;
  }
}
@media screen and (max-width: 1100px) {
  .bg {
    width: 90%;
  }

  .pg-title {
    left: 10%;
  }

  .level1 .bt-box {
    left: 10%;
  }

  .level2 .content {
    width: 80%;
  }

  .bghoho {
    font-size: 100px;
  }
}
@media screen and (max-width: 900px) {
  .level1 .concept {
    float: unset;
    margin-right: unset;
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  .bghoho {
    font-size: 70px;
  }
}
@media screen and (max-width: 720px) {
  .bghoho {
    display: none;
  }

  .level1 {
    padding: 30px 0 0;
  }
  .level1 .concept {
    width: 80%;
  }
  .level1 .bt-box {
    margin-bottom: 50px;
  }

  .level2 .box {
    position: relative;
    padding: 10px 0;
    flex-direction: column-reverse;
  }
  .level2 .pic-box {
    width: 100%;
  }
  .level2 .case {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.2);
    border: 3px solid rgba(165, 145, 128, 0.2);
  }
  .level2 .number {
    color: #fff;
  }
  .level2 .name {
    color: #fff;
  }
  .level2 .more {
    color: #fff;
  }
  .level2 a:hover .number {
    color: #000;
  }
  .level2 a:hover .name {
    color: #666;
  }
  .level2 a:hover .case {
    background: rgba(255, 255, 255, 0.9);
  }

  .level2 a:nth-child(even) .box {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 460px) {
  .bg {
    width: 100%;
  }

  .level1 .bt-box .small-bt {
    display: block;
  }

  .level2 .middle-pic {
    width: 100%;
  }
}
@media screen and (max-height: 460px) {
  .pg-title {
    bottom: 5px;
  }
}
