.select {
  padding: 80px 0;
}
.select-in {
  display: flex;
  margin: 0 20%;
}
.select-title {
  width: 50%;
}
.select-box {
  position: relative;
  width: 50%;
}
.select_tw{
  font-size: 16px;
}
.select-bt {
  font-size: 20px;
  margin-bottom: 5px;
}
.select-bt a {
  color: #ccc;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.select-bt a:hover {
  color: #b3bafe;
}
.select-bt .on {
  color: #000000;
}

.work-content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: 90%;
  margin: auto;
  padding-bottom: 50px;
}

.work-box {
  position: relative;
  width: 28%;
  border-radius: 25px;
  background-color: rgb(179 186 254 / 15%);
  box-sizing: border-box;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 8px;
  margin: 0 2.66666% 50px;
}

.work-box:hover {
  background-color: rgb(179 186 254 / 25%);
}

.work-pic {
  position: relative;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
}

.work-pic img {
  width: 100%;
  position: relative;
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  -moz-transition: -moz-transform 0.3s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -o-transition: -o-transform 0.3s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: transform 0.3s cubic-bezier(0.25, 0.25, 0.75, 0.75);
}

.work-case {
  position: relative;
  /*height: 100px;*/
  border-radius: 20px;
  background: #ffffff;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
  padding: 20px;
  margin-top: -30px;
}

.work-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: -3px -3px 0 -3px;
}

.work-type {
  display: inline-block;
  border: 1px solid #999999;
  border-radius: 20px;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 5px 10px;
}

.work-link {
  display: inline-block;
  background-color: #cccccc;
  border-radius: 50%;
  padding: 8px;
}

.work-link img {
  width: 20px;
  height: 20px;
}

.work-box:hover .work-link {
  background: #647bff; 
  background: -moz-linear-gradient(to right, #647bff, #dfd4f2);
  background: -webkit-linear-gradient(to right, #647bff, #dfd4f2); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #647bff, #dfd4f2);
}

.work-box:hover .work-type {
  color: #647bff;
  border: 1px solid #647bff;
}

.work-name {
  font-size: 18px;
  color: #000000;
  margin: 10px 0;
  overflow: hidden;
}

.work-name span {
  display: inline-block;
}



.work-discribe {
  color: #999;
  font-size: 13px;
  overflow: hidden;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.work a:hover .work-pic img {
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.select-title {
  opacity: 0;
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  -moz-transition: -moz-transform 0.5s, opacity 0.3s;
  -o-transition: -o-transform 0.5s, opacity 0.3s;
  -webkit-transition: -webkit-transform 0.5s, opacity 0.3s;
  transition: transform 0.5s, opacity 0.3s;
}
.select-title.show {
  opacity: 1;
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

.select-bt {
  opacity: 0;
  -moz-transform: translateX(30px);
  -ms-transform: translateX(30px);
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -moz-transition: -moz-transform 0.5s, opacity 0.3s;
  -o-transition: -o-transform 0.5s, opacity 0.3s;
  -webkit-transition: -webkit-transform 0.5s, opacity 0.3s;
  transition: transform 0.5s, opacity 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.select-bt.show {
  opacity: 1;
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}

.move1 {
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  -moz-transition: -moz-transform 0.5s ease-in-out;
  -o-transition: -o-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.move1.show {
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

.move2:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  -moz-transition: height 0.8s;
  -o-transition: height 0.8s;
  -webkit-transition: height 0.8s;
  transition: height 0.8s;
}
.move2.show:after {
  height: 0;
}

.move3:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  -moz-transition: height 0.8s;
  -o-transition: height 0.8s;
  -webkit-transition: height 0.8s;
  transition: height 0.8s;
}
.move3.show:after {
  height: 0;
}

.move4 {
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  -moz-transition: -moz-transform 0.5s ease-in-out;
  -o-transition: -o-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  /*-moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;*/
}
.move4.show {
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

.move5 {
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  -moz-transition: -moz-transform 0.5s ease-in-out;
  -o-transition: -o-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
.move5.show {
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

@media screen and (max-width: 1400px) {
  .work-content {
    width: 80%;
  }

  .work-box {
    width: 45%;
    padding: 5px;
    margin: 0 2.5% 50px;
  }
}

@media screen and (max-width: 1100px) {
  .select-in {
    margin: 0 10%;
  }
}
@media screen and (max-width: 720px) {
  .select {
    padding: 50px 0;
  }

  .work-content {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .work-box {
    width: 100%;
    position: relative;
    margin: 0 0 50px;
    flex-direction: column-reverse;
  }
  .work-pic {
    width: 100%;
  }
 
}


@media screen and (max-width: 640px) {
  .select-in {
    display: block;
    margin: 0 20px;
  }

  .select-title {
    width: unset;
  }

  .select-box {
    width: unset;
    padding-left: 20px;
  }

  .work-content {
    width: unset;
    margin: 0 40px;
  }
  
  .work-box {
    width: 100%;
  }

  
}

@media screen and (max-width: 460px) {
  

  .select-in {
    margin: 0 20px;
  }

  .work-content {
    width: unset;
    margin: 0 20px;
  }
  

  .work-name {
    font-size: 16px;
  }
}
