.project {
  position: relative;
}
.project-name {
  color: #000000;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  padding-top: 80px;
}
.project-in {
  width: 70%;
  max-width: 800px;
  box-sizing: border-box;
  padding: 10px;
  margin: auto;
}

.project-title {
  color: #ccc;
  font-weight: 600;
  margin-right: 8px;
}
.project_box {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-bottom: 20px;
}

.project_box h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.project_box ul li {
  margin: 5px;
}

.pb {
  font-weight: bold;
}

.project_problem,
.project_solution {
  width: calc(50% - 10px);
  border-radius: 20px;
  box-sizing: border-box;
  padding: 40px;
}

.project_problem{
  background-color: #ededed;
  margin-right: 20px;
}

.project_solution{
  background-color: #dfe2ff;
}

.project-describe {
  text-align: left;
  line-height: 1.5em;
  margin-left: 10px;
  margin-top: 60px;
  position: relative;
}
.project-describe:before {
  content: "";
  position: absolute;
  /*top: 3px;*/
  left: -10px;
  width: 3px;
  height: calc(100% - 5px);
  border-radius: 20px;
  background: #647bff; 
  background: -moz-linear-gradient(to top, #647bff, #dfd4f2);
  background: -webkit-linear-gradient(to top, #647bff, #dfd4f2); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #647bff, #dfd4f2);
}

.project-describe p {
  color: #333333;
  /*margin-bottom: 15px;*/
}

.project-describe h3 {
  font-size: 24px;
  color: #333333;
  margin-bottom: 10px;
}

.project-link {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #647bff;
  border: 1px solid #999999;
  box-sizing: border-box;
  border-radius: 20px;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 3px 3px 3px 8px;
  margin-top: 30px;
}

.project-linkp {
  background: #cccccc;
  border-radius: 50%;
  padding: 3px;
  margin-left: 5px;
}

.project-linkp img {
  width: 18px;
}

.project-link:hover {
  border: 1px solid #647bff;
}

.project-link:hover .project-linkp {
  background: #647bff; 
  background: -moz-linear-gradient(to right, #647bff, #dfd4f2);
  background: -webkit-linear-gradient(to right, #647bff, #dfd4f2); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #647bff, #dfd4f2);
}

.project-content {
  width: 80%;
  max-width: 1200px;
  margin: 80px auto 0;
}

.project-content .project-describe {
  margin-left: 10px;
  margin-bottom: 20px;
}

.project-content img,
.project-content video {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 20px;
}
.project-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.project-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.project-bt {
  width: 42px;
  margin: 80px auto;
}

.border {
  border: 1px solid #cccccc;
}

.move1 {
  opacity: 0;
  -moz-transform: translateY(80px);
  -ms-transform: translateY(80px);
  -webkit-transform: translateY(80px);
  transform: translateY(80px);
  -moz-transition: opacity 0.8s, -moz-transform 0.8s;
  -o-transition: opacity 0.8s, -o-transform 0.8s;
  -webkit-transition: opacity 0.8s, -webkit-transform 0.8s;
  transition: opacity 0.8s, transform 0.8s;
}
.move1.show {
  opacity: 1;
  -moz-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

@media screen and (max-width: 1200px) {
  .project-name {
    font-size: 24px;
  }

  .project-describe h3,
  .project_box h3 {
    font-size: 20px;
  }
}



@media screen and (max-width: 1100px) {
  .project-content {
    width: 90%;
  }

  .project-in {
    width: 80%;
  }

  .project-describe h3,
  .project_box h3 {
    font-size: 17px;
  }
}

@media screen and (max-width: 720px) {
  .project-name {
    font-size: 20px;
    padding-top: 60px;
    width: 80%;
    text-align: left;
    margin: auto;
  }

  .project-content {
    margin-top: 40px;
  }

  .project_problem,
  .project_solution {
    width: 100%;
  }

  .project_problem {
    margin-right: unset;
    margin-bottom: 20px;
  }

  .project-describe {
    margin-top: 50px;
  }

}

@media screen and (max-width: 640px) {
  .project-in {
    width: 90%;
  }
}
