@import	compass/css3

.top
	position: relative
	height: 100vh
		
.bg
	position: absolute
	right: 0
	width: 85%
	height: 90%
	overflow: hidden

	&-pic
		width: 100%
		height: 100%
		position: absolute
		top: 0
		background-size: cover
		background-position: center
		+transform(scale(1.1) perspective(500px) translateZ(0px))
		+transition(transform 0s cubic-bezier(0.25, 0.25, 0.75, 0.75))
		
		&.move-img
			+transform(scale(1.1) perspective(500px) translateZ(-50px))
			+transition-duration(5s)

.top-slogn
	width: 250px
	position: absolute
	left: 10%
	bottom: 30%
	z-index: 5

	img
		width: 100%

.wel1
	position: absolute
	top: 0
	left: 0
	opacity: 0
	+animation(welout 5.2s cubic-bezier(.81,.15,.26,.99))

+keyframes(welout)
	0%
		opacity: 1
	85%
		opacity: 1

	100%
		opacity: 0

.wel2
	position: absolute
	top: 0
	left: 0
	opacity: 1
	+animation(welin 5.5s cubic-bezier(.81,.15,.26,.99))

+keyframes(welin)
	0%
		opacity: 0

	70%
		opacity: 0

	100%
		opacity: 1


.dot
	position: fixed
	right: 20px
	top: 50%
	+transform(translateY(-50%))
	z-index: 5

	li
		position: relative
		cursor: pointer
		width: 5px
		height: 5px
		border-radius: 50%
		background: #6c7c86
		+transition(height .3s ease-in)
		margin: 30px 15px

		&:after
			content: ''
			position: absolute
			top: 50%
			left: 50%
			width: 5px
			height: 5px
			border-radius: 50%
			background-color: #b7d5f9
			opacity: 0.3
			+transform(translate(-50%,-50%))
			+transition(all 0.3s)
			z-index: -1

		&:hover
			&:after
				width: 25px
				height: 25px

			.dot-text
				opacity: 1
				+transform(translate(0, -50%))

		&.show
			height: 12px
			border-radius: 30%
			background: #a393b1

			&:after
				background-color: #cab7e8

	&-text
		color: #666
		font-weight: 600
		font-size: 12px
		line-height: 2em
		position: absolute
		right: 30px
		top: 50%
		background-color: rgba(250,250,250,0.9)
		border: 1px solid #ccc
		border-radius: 20px
		padding: 0 8px
		opacity: 0
		+transform(translate(-10px, -50%))
		+transition(transform .3s, opacity .3s)


.about
	padding: 100px 0 150px

	&-head
		display: flex
		align-items: center
		justify-content: center
		margin: 0 20% 30px

	&-pic
		width: 50%
		display: flex
		align-items: center
		justify-content: center

		img
			width: 100px

	&-in
		width: 50%

	&-bt
		margin-left: 50%

.skill
	&-pic
		position: relative
		width: 80%
		overflow: hidden
		
		img
			width: 105%
	
	&-concept
		//width: 30%
		margin: 0 20%
		padding: 100px 0 0

	&-box
		display: flex
		flex-wrap: wrap

	&-list
		width: 50%
		text-align: center
		box-sizing: border-box
		padding: 0 5px 50px

		img
			height: 90px
			margin: auto
			margin-bottom: 20px

	&-detail
		font-size: 12px


.slogn
	//background-color: #fafafa
	background-size: cover
	background-position: center
	padding: 150px 0 150px

	&-box1
		display: flex
		flex-direction: row-reverse

	&-pic
		position: relative
		width: 40%
		overflow: hidden

		img
			width: 105%

	&-concept
		width: 40%
		margin-left: 15%
		padding: 100px 0

	&-in1
		font-size: 38px
		position: relative
		top: 120px

	&-in2
		font-size: 38px
		margin-left: 50px
		position: relative
		top: 160px

.work
	padding: 100px 0 80px

	.title
		text-align: center

	&-box
		display: flex
		flex-wrap: wrap
		max-width: 60%
		margin: auto
		padding-top: 30px

	&-list
		cursor: pointer
		width: 45%
		margin: 0 auto 20px

		&:hover
			.sp:after
				+transform(scaleX(1))

			.work-pic img
				+transform(scale(1.1))

				
	&-pic
		position: relative
		margin: auto
		overflow: hidden

		img
			width: 100%
			+transform(scale(1))
			+transition(transform .5s ease-in)

	&-concept
		text-align: center
		padding: 30px 0
		margin: 0 10px

	&-name
		text-align: center
		color: #a59180
		font-size: 18px

		.sp
			position: relative

			&:after
				content: ''
				position: absolute
				left: -10px
				bottom: 0
				height: 10px
				width: 100%
				@include background(linear-gradient(to right, #e8e7ff, #f7e7ff))
				padding: 0 10px
				+transform(scaleX(0))
				+transition(transform .5s ease-in-out)
				z-index: -1

	&-in
		font-size: 12px

	&-bt
		width: 85px
		margin-top: 20px

//animation
.move1
	opacity: 0
	+transform(translateY(80px))
	+transition(opacity .8s, transform 0.8s)

	&.show
		opacity: 1
		+transform(translate(0px,0px))

.move2
	&:after
		content: ''
		position: absolute
		top: 0
		right: 0
		width: 100%
		height: 100%
		background: #fff
		+transition(width .8s)

	&.show:after
		width: 0

.move3
	&:after
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background: #fff
		+transition(width .5s)

	&.show:after
		width: 0

.move4
	&:after
		content: ''
		position: absolute
		bottom: 0
		left: 0
		width: 100%
		height: 100%
		background: #fff
		+transition(height .8s)
		+transition-delay(.3s)

	&.show:after
		height: 0


.move1, .move2, .move3 , .move4
	+transition(opacity 1s, transform 0.8s)

	&.show
		opacity: 1
		+transform(translate(0px,0px))


@media screen and (max-width: 1500px)
	.slogn
		&-concept
			margin-left: 0

		&-in1
			font-size: 34px
			top: 70px

		&-in2
			font-size: 34px
			top: 90px

@media screen and (max-width: 1100px)
	.pg-title
		left: 10%

	.bg
		width: 80%

	.dot
		display: none

	.about
		&-head
			margin: 0 10% 30px


	.skill
		&-pic
			width: 90%

		&-concept
			margin-left: 10%
			width: 80%

	.slogn
		padding: 80px 0 100px

		&-concept
			padding: 50px 0

		&-in1
			font-size: 28px
			top: 80px

		&-in2
			font-size: 28px
			top: 90px

	.work-box
		max-width: 80%

@media screen and (max-width: 900px)
	.skill-concept
		width: 80%
		margin-left: 10%

	.slogn
		&-concept
			width: unset
			margin: auto

		&-in1
			font-size: 24px
			top: 30px

		&-in2
			font-size: 24px
			top: 40px


@media screen and (max-width: 720px)
	.bg
		width: 100%
		height: 100%

	.top-slogn
		left: 5%

	.about
		&-head
			display: block

		&-pic
			width: 100%
			margin-bottom: 50px

			img
				z-index: 2

		&-in
			width: 100%

		&-bt
			width: 45px
			margin: auto

	.skill
		.title
			text-align: center


	.slogn
		padding: 80px 0 30px
		&-box1
			display: unset

		&-pic
			width: 70%
			margin: auto
		&-in1
			position: unset
			text-align: center
			margin-bottom: 10px
		&-in2
			position: unset
			text-align: center
			margin-left: 0

	.work
		padding: 50px 0 80px

		&-box
			display: unset

		&-list
			width: 80%
			padding-top: 30px

		.title
			margin-bottom: 30px

@media screen and (max-width: 640px)
	.skill-box
		display: block

	.skill-list
		width: 100%

@media screen and (max-width: 460px)
	.top-slogn
		left: 50%
		bottom: 20%
		+transform(translateX(-50%))

	.skill-pic
		width: 100%

	.slogn
		padding: 30px 0

		&-pic
			width: 90%


	
